/dist/
/build/
/*.egg-info/
.dismiss_screen
__pycache__
/GNUmakefile
/.*_localrc
/tags
/.idea
/*.ipynb
/.vscode
node_modules/
/docs/_media/container*.png
/assets/skybox2.jpg
package-lock.json
/games
/t3editor
/M275